<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wearable.whatsfordinner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MealsActivity"
            android:label="@string/title_activity_meals"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wearable.whatsfordinner.MenuActivity" />
        </activity>
        <activity
            android:name=".RecipesActivity"
            android:label="@string/title_activity_new_recipes"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wearable.whatsfordinner.MenuActivity" />
        </activity>
        <activity
            android:name=".GroceryActivity"
            android:label="@string/title_activity_grocery"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wearable.whatsfordinner.MenuActivity" />
        </activity>
        <activity
            android:name=".NewDishActivity"
            android:label="@string/title_activity_new_dish"
            android:parentActivityName=".MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wearable.whatsfordinner.MenuActivity" />
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:label="@string/title_activity_display"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EnterDirectionsActivity"
            android:label="@string/title_activity_enter_directions"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InformationActivity"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>